/* Write your CSS here! */

  body{
    /* margin: 25px 50px 75px 50px; */
    margin: 8px;
    display: block;
  }

  .funParagraph{
    color: green;
    text-decoration:underline;
  }

  .columnIngredients {
    float: left;
    width: 35%;
    background-color: bisque;
    padding: 10px 10px 10px 10px;
    line-height: 1.6;
  }

  .columnMethod{
   
    margin: 25px 50px 75px 50px;
    padding-left: 35%;
    line-height: 1.6;
  
  }
  
  /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    
  }

  #mainHeading{
    color: red;
    font-style: italic;
    font-family: cursive;
  }

  .HeaderBkgdImg{
    width:100%;
    height:25%;
  }

 footer{
    padding: 10px;
    border: 1px solid #af784c;
    text-align: center;
  }


  .socialMediaImage {
    height: 40px;
    width: 40px;
  }




 