/* Write your CSS here! */

 .columnIngredients {
    float: left;
    width: 35%;
    background-color: bisque;
    padding: 10px 10px 10px 10px;
    line-height: 1.6;
  }

  .columnMethod{
    /* width: 100%; */
    margin: 25px 50px 75px 50px;
    line-height: 1.6;
    /* padding: 25px 50px 75px 100px; */
  }
  
  /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    
  }

  body{
    margin: 25px 50px 75px 50px;
  }

  .HeaderBkgdImg{
    width:100%;
    height:25%;
  }

 footer{
    padding: 10px;
    border: 1px solid #af784c;
    text-align: center;
  }


  .socialMediaImage {
    height: 40px;
    width: 40px;
  }




 