/* Write your CSS here! */

 .column {
    float: left;
    width: 35%;
  }
  
  /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  section {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    /* background: #ccc; */
    padding: 20px;
  }
   

 